<div class="loginbox" style="position: fixed; top: 30%; left: 40%">
    <div>
        <button style="position: relative; ">X</button>
        <header style=" width:150px; margin: auto; padding: 30px;">User Login</header>
        <div style="display: flex; justify-content: center; align-items: center;">
            <fieldset>
                <legend>Username</legend>
                <form>
                    <input type="text" placeholder="Enter your username" maxlength="30">
                </form>
            </fieldset>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
            <fieldset>
                <legend>Password</legend>
                <form>
                    <input type="password" placeholder="Enter your username" maxlength="30">
                </form>
            </fieldset>
        </div>
    </div>
</div>

</div>