<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body>
    <header style="padding: 30px;">User Signup</header>
    <form action="/user" method="post">
        <label>Username</label>
        <input type="text" required name="username">
        <label>Password</label>
        <input type="text" required name="password">
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>