.content_holder{
    height: 96vh;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.infobox{
    height: 250px;
    width: 400px;
    background-color: rgb(65, 65, 65);
    border-radius: 15px;
    box-shadow: 4px 4px 8px 0 rgba(6, 6, 6, 0.5);
}
.text{
    background-color: rgba(6, 6, 6, 0.5);
    font-size: 30px;
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 15px;
}
.clip_img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
@media only screen and (max-width: 600px) {
    .content_holder {
        grid: 300px / auto;
        row-gap: 30px;
    }
}
@media only screen and (max-width: 1300px) {
    .content_holder {
        grid: 300px / auto auto;
        row-gap: 30px;
    }
}